*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
#container-parent {
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    
    

}

#container {
    background-color: #ecf0f1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
    justify-items: center;
    grid-gap: 5vw;
    height: 90vh;
    width: 75vw;
    border: 1px solid;
    
    
}

#header_div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 2vw;
    width: 100%;
    justify-items: center; 
    border: 1px solid;
    
}

#bottom_div {
    font-size: 2vw;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    grid-template-areas: " . . . b";
    background-color: #2ecc71;
    justify-content: center;
    border: 1px solid;
}

.bottom {
    grid-area: b ;
    justify-self: center;
    align-self: center;
}

#header_div > div {
    border-left: 1px solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1c40f;
    
}


#body_div {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    width: 100%;
    margin-top: 50px;
    grid-gap: 100px;
    
    
}

#list_div {
    display: grid;
    grid-template-rows: repeat(4 , 1fr);   
    margin-left: 10px; 
   
}

#list_div > div {
    display: flex;
    background-color: #3498db;
    width: 100%; 
    font-size: 3vw;  
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    border: 2px solid;
}

#table_body_div {

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}

#table_body_div > div {
    margin-bottom: 10px;
    border: 2px solid;
}
#column1_table1 {
    background-color: #2ecc71;
}

#column1_table2 {
    background-color: #e67e22;
}

#column1_table3 {
    background-color: #9b59b6;
}

#bord_div_third_part {
    
    margin-right: 50px;
    margin-bottom: 10px;
    display: grid;
    grid-template-rows: 4fr 1fr 4fr;
    grid-template-areas: 
    "t1"
    "."
    "t2"
    
    ;

}

#tab1 {
    background-color: #9b59b6;
    grid-area: t1;
    display: grid;
    grid-template-rows: 1fr 5fr;
    justify-items: center;
    padding: 10px;
    border: 2px solid;
}

#tab1 > div {
    display: flex;
    justify-content: center;
}


#tab2 {
    background-color: red;
    grid-area: t2 ;
    display: grid;
    grid-template-rows: 1fr 5fr;
    justify-items: center;
    padding: 10px;
    border: 2px solid;
}

#tab2 > div {
   width: 80%;
   display: flex;
   justify-content: center;
}
